
.cs-body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cs-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

    .cs-container h2 {
        color: #23a455;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .cs-container p {
        margin-bottom: 20px;
        font-size: 12px;
        color: #555;
    }

.cs-form {
    text-align: left;
}

.cs-input-group {
    margin-bottom: 15px;
    position: relative;
}

.cs-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
}

.cs-input {
    width: 100%;
    font-size: 12px;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    .cs-input:focus {
        border-color: #23a455;
        outline: none;
    }

.cs-icon {
    position: absolute;
    top: 36px;
    left: 10px;
    font-size: 14px;
    color: #777;
}

.user-icon::before {
    content: "👤";
}

.email-icon::before {
    content: "✉";
}

.password-icon::before, .confirm-password-icon::before {
    content: "🔒";
}

.toggle-password {
    position: absolute;
    top: 36px;
    right: 10px;
    font-size: 18px;
    color: #777;
    cursor: pointer;
}

.cs-checkbox-group {
    display: flex;
    align-items: center;
}

.cs-checkbox {
    margin-right: 10px;
}

.cs-link {
    color: #23a455;
    text-decoration: none;
}

.cs-submit-btn {
    width: 100%;
    background-color: #23a455;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

    .cs-submit-btn:hover {
        background-color: #1e944a;
    }
