
@{
    ViewBag.Title = "SignUpForCompany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="cs-body">
    <div class="cs-container">
        <h2>Register Company</h2>
        <p>Please provide your company information to get started.</p>

        <form action="@Url.Action("SignUpForCompany", "Authen")" method="POST" class="cs-form" enctype="multipart/form-data">
            <!-- Company Name -->
            <div class="cs-input-group">
                <label for="companyName" class="cs-label">
                    <i class="cs-icon company-icon"></i> Company Name
                </label>
                <input type="text" id="companyName" name="companyName" class="cs-input" placeholder="Enter company name" required>
            </div>

            <!-- Description -->
            <div class="cs-input-group">
                <label for="description" class="cs-label">
                    <i class="cs-icon description-icon"></i> Description
                </label>
                <textarea id="description" name="description" class="cs-input" placeholder="Enter company description" required></textarea>
            </div>

            <!-- Avatar (Avt) -->
            <div class="cs-input-group">
                <label for="avatar" class="cs-label">
                    <i class="cs-icon avatar-icon"></i> Avatar
                </label>
                <input type="file" id="avatar" name="avatar" class="cs-input" required>
            </div>

            <!-- Phone Number -->
            <div class="cs-input-group">
                <label for="phoneNumber" class="cs-label">
                    <i class="cs-icon phone-icon"></i> Phone Number
                </label>
                <input type="text" id="phoneNumber" name="phoneNumber" class="cs-input" placeholder="Enter phone number" maxlength="10" required>
            </div>

            <!-- Email -->
            <div class="cs-input-group">
                <label for="email" class="cs-label">
                    <i class="cs-icon email-icon"></i> Email
                </label>
                <input type="email" id="email" name="email" class="cs-input" placeholder="Enter email address" maxlength="50" required>
            </div>


            <!-- Location -->
            <div class="cs-input-group">
                <label for="location" class="cs-label">
                    <i class="cs-icon location-icon"></i> Location
                </label>
                <input type="text" id="location" name="location" class="cs-input" placeholder="Enter company address" required>
            </div>
            <div class="cs-input-group">
                <label for="password" class="cs-label">
                    <i class="cs-icon email-icon"></i> Password
                </label>
                <input type="password" id="password" name="password" class="cs-input" placeholder="Enter password" maxlength="50" required>
            </div>
            @if (ViewBag.signup != null)
            {
                <div class="cs-input-group">
                    <label style="color: red">
                        @ViewBag.signup
                    </label>
                </div>
            }

            <!-- Submit Button -->
            <div class="cs-input-group">
                <button type="submit" class="cs-submit-btn">Register Company</button>
            </div>
        </form>
    </div>
</div>
